@charset "UTF-8";

body {
	margin: 0;
	min-width: 992px;
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif !important;;
}

.header {
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: -20px;
}

.navbar {
	display: block;
}

li {
	list-style-type: none;
	float: left;
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.dia {
	width: 90px;
	height: 40px;
	display: block;
	position: relative;
	margin-top: -10px;
}

#_event .ev::after {
	position: absolute;
	content: "";
	display: block;
	border-bottom: 3px solid #959595;
	transition: width 500ms ease-out;
	left: auto;
	right: 0;
	width: 0;
	padding-bottom: 34px;
}

#_event .ev:hover::after {
	padding-bottom: 34px;
	width: 18%;
	left: 0;
	right: auto;
}

#_event li .tab {
	color: #000;
}

.mainlogo {
	width: 650px;
	height: 112px;
	display: block;
}

p {
	margin-left: 30px;
}

.tab {
	position: relative;
	color: #222;
	cursor: pointer;
	font-size: 18px
}

.nav_home {
	font-weight: 800;
	font-size: 18px;
}

.nav_menu {
	font-size: 18px;
}

.logo {
	padding-left: 37%;
	padding-right: 30%;
	display: block;
}

@media screen and (max-width: 1650px) {
	.logo {
		display: none;
	}
}
</
style
>